@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
        height: 100vh;
        font-family: 'Inter', sans-serif;
        background-color: #00001e;
        color: white;
      
    }

#about {
  height: 100vh;       
  position: relative;       /* Full screen height */
  background-color: #0b1d3a;  /* Or any background */
  display: flex;              /* Center content */
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  
  
}

#education {
  height: 100%;       
  position: relative;       /* Full screen height */
  background-color: #0b1d3a;  /* Or any background */
  display: flex;              /* Center content */
  justify-content: center;
  align-items: center;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
 
}



.home-card{
    height: 90vh;
    width: 90%;
    padding: 30px 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.17);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    display: table-cell;

    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 185%;
   
}


#skills{
height: 100vh;       
  position: relative;      
  background-color: #0b1d3a;  
  display: flex;              
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

#experience{
height: 100vh;       
  position: relative;       
  background-color: #0b1d3a; 
  display: flex;            
  justify-content: center;
  align-items: center;
  padding: 20px;
 
}

footer{
  background-color: #121212;
}
#footer-container{
  width: 100%;
  padding: 70px 30px 20px;
 
}

.home-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  z-index: -1;         
  
}

.blue-box {
  position: absolute;
  background-color: #3fe0c5a1;
  height: 100px;
}

.box1 {
    
  width: 400px;
  top: 30px;  
  right: 0px;
 z-index: -1;
}

.box2 {
  width:100%;
  top: 50%;   
  left: 0px;
  z-index: -1;
}

.box3 {

  width: 400px;
  bottom: 30px; 
  left:0px;
  z-index: -1;
}

.edu {
  width: 500px;
  gap: 20;
  top: 50%;   
  right: 0px;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight:bold
}

.front-pic img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 position: absolute;
  bottom: 0;           /* stick to bottom */
  left: 50%;  
  transform: translateX(-50%);
  
}

.glass-container img{
  width: 100%;
  max-width: 350px;
  height: auto;
}

.About {
  width: 100%;
  gap: 20;
  top: 0;
  left:50;
margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight:bold
}

.skill{
width: 600px;
  width: 500px;
  gap: 20;
  top: 50%;   
  left: 0px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight:bold
}

.subtitle{
  flex-direction: column;
  align-items:flex-end;
    display: flex;
  gap: 20px;         /* spacing between items */
  flex-wrap: wrap;   /* prevents overlap if screen is small */
  color: white;
    font-size: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    padding: 20px;
}

.experience{
  width: 500px;
   
  top: 50%;   
  right: 0px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight:bold
}

.text1{
  font-size: 80px;
  position: absolute;
  top: 10px;    /* Distance from top */
  left: 10px;   /* Distance from left */
  margin: 0; 
  padding: 20px;
      
}

.text2{
  font-size: 80px;
  position: absolute;
  top: 120px;    /* Distance from top */
  left: 10px;   /* Distance from left */
  margin: 0; 
  padding: 20px;
}

.aboutme{
      top: 20px;   
    position: absolute;
   font-size: 50px;
   align-items: flex-start;
   text-align: center;
}

.glass-container{
    height: 520px;
    width: 350px;
    padding: 30px 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.17);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 185%;
    
}
.titlegc2{
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight:bold
}
.glass-container2{
    height: 520px;
    width: 700px;
    padding: 30px 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.17);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    display: table-cell;

    font-family: 'Inter', sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 185%;
    
}

.glass-container-education{
    height: 520px;
    width: 700px;
    padding: 30px 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.17);

    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 185%;
    
}

.glass-container-skills{
      height: 520px;
    width: 700px;
    padding: 30px 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.17);

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 185%;
}

.glass-container-experience{
  height: 520px;
    width: 700px;
    padding: 30px 50px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(10px);
    border-width: 200px;
    border-top: 1px solid rgba(255, 255, 255, 0.47);
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.17);

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 185%;
}

.footer-icon{
  display: flex;
  justify-content: center;
  
}
.footer-icon a{
  text-decoration: none;
  padding: 10px;
  background-color:  #3dc9b3;
;
  margin: 10px;
  border-radius: 20%;
  border-style: solid;
  border-color: #121212;
  box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.293) inset; 
  box-shadow: 2px 5px 15px #e8e8e869;  
}
.footer-icon a i {
  font-size: 2em;
  color: black;
}
.footer-icon a:hover{
  background-color: antiquewhite;
  transition: .5s;
}
.footer-bottom,
.footer-contact{
  display: flex;
  justify-content: center;
}
